  /* Home and Profile page: */
  /* Split: */
  /* Split the screen in half */
  .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color: rgb(210, 176, 210);
    width: 20%;
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: white;
    width: 80%;
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  /* css icons size */
  .material-icons{
    height: 1cm;
    width: 1cm;
  }

  /*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
  /* Home page: */
  /* Boxes: */
  /* css for the top box which is the username */

  /* Style the image inside the centered container, if needed */
  .home-image-box img {
    width: 376px;
    height: 256px;
    margin-top: 0.5cm;
  }

  .home-user-box{
    background-color: rgb(210, 255, 240);
    height: 1cm;
    width: 10cm; 
  }

  /* css for the image box */
  .home-image-box{
    background-color: rgb(255, 255, 255);
    height: 8cm;
    width: 10cm;
  }

  /* css for the lower box which is the reaction box */
  .home-reaction-box{
    background-color: rgb(210, 255, 240);
    height: 1.5cm;
    width: 10cm;
  }

  /* Icons: */
  /* make the home icon white */
  #home{
    color: white;
  }

  /*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
  /* Profile page: */
  /* position the profile image to the topo left */
  .profile-picture{
    margin-left: -7.5cm;
    margin-top: -5cm;
    border-radius: 50%;
  }

  #profile-edit{
    margin-left: -5cm;
    margin-top: -5cm;
  }

  /* Boxes: */
  /* css for the top box which is the username */

  /* Style the image inside the centered container, if needed */
  .profile-image-box img {
    width: 376px;
    height: 256px;
    margin-top: 0.5cm;
  }

  .profile-user-box{
    background-color: rgb(113, 255, 238);
    height: 1cm;
    width: 10cm; 
    margin-top: -8cm;
  }

  /* css for the image box */
  .profile-image-box{
    background-color: rgb(255, 255, 255);
    height: 8cm;
    width: 10cm;
    margin-left: -7cm;
  }

  table{
    height: 15cm;
    width: 24cm;
  }

  /* Icons: */
  /* make the profile icon white */
  #profile{
    color: white;
  }

  /*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
  /* Edit page: */
  /* position the profile image to the topo left */
  .edit-picture{
    margin-left: -8cm;
    margin-top: -6cm;
    border-radius: 50%;
  }

  /* Boxes: */
  /* css for the top box which is the username */

  /* Style the image inside the centered container, if needed */
  .edit-image-box img {
    width: 376px;
    height: 256px;
    margin-top: 0.5cm;
  }

  .edit-user-box{
    background-color: rgb(113, 255, 238);
    height: 1cm;
    width: 10cm; 
    margin-top: -9cm;
    margin-left: 2cm;
  }

  /* css for the image box */
  .edit-image-box{
    background-color: rgb(255, 255, 255);
    height: 8cm;
    width: 10cm;
    margin-left: -6cm;
    margin-top: -1cm;
  }

  h2{
    justify-content: center;
    align-items: center;
  }

  .edit-table{
    height: 15cm;
    width: 24cm;
    background-color: rgb(113, 255, 238);
  }

  #back-button{
    height: 1cm;
    width: 3cm;
    background-color: rgb(0, 0, 0);
    color: white;
  }

  #submit-button{
    height: 1cm;
    width: 3cm;
  }

  #profilepic{
    color: blue;
    margin-top: -0.5cm;
  }

  /*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
  /* Create page: */
  /* Boxes: */
  /* css for the top box which is the username */

  /* Style the image inside the centered container, if needed */
  .create-image-box img {
    width: 376px;
    height: 256px;
    margin-top: 0.5cm;
  }

  .create-user-box{
    background-color: rgb(210, 255, 240);
    height: 1cm;
    width: 10cm; 
  }

  /* css for the image box */
  .create-image-box{
    background-color: rgb(255, 255, 255);
    height: 8cm;
    width: 10cm;
  }

  /* css for the lower box which is the reaction box */
  .create-reaction-box{
    background-color: rgb(210, 255, 240);
    height: 1.5cm;
    width: 10cm;
  }

  .add-button{
    height: 1cm;
    width: 3cm;
    background-color: black;
    color: white;
  }

  /* Icons: */
  /* make the create icon white */
  
  #create{
    color: white;
  }

  /*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
  /* Messages page: */
  
  /* Icons: */
  /* make the messages icon white */
  
  #messages{
    color: white;
  }